
.navbar-colorx{
    color:white
    ;
}

.navbar-dark{

    color: rgb(248, 248, 248);
}

.navcolor{

  color:beige
}

.Navback-color{

  background-color:#d33a3a;
}
.link-col{
    color: white;
}
.link-col:hover{
    color: white;
}